In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("pratyushpuri/pan-india-property-listings-2025-real-estate-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/pratyushpuri/pan-india-property-listings-2025-real-estate-data?dataset_version_number=1...

100%|██████████| 2.00M/2.00M [00:00<00:00, 91.5MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/pratyushpuri/pan-india-property-listings-2025-real-estate-data/versions/1

In [3]:
import os

# List all files in the dataset folder
os.listdir("/root/.cache/kagglehub/datasets/pratyushpuri/pan-india-property-listings-2025-real-estate-data/versions/1")

['train_part2.xlsx',
 'train_part1.xlsx',
 'train_part1.csv',
 'train_part2.csv',
 'metadata.json',
 'test_part1.csv',
 'test_part1.json',
 'test_part1.xlsx',
 'train_part2.json',
 'test_part2.xlsx',
 'test_part2.csv',
 'train_part1.json',
 'test_part2.json']

In [4]:
import pandas as pd
df1 = pd.read_csv("/root/.cache/kagglehub/datasets/pratyushpuri/pan-india-property-listings-2025-real-estate-data/versions/1/train_part1.csv")
df1.head()

,ListingID,City,Locality,PropertyType,BHK,Bathrooms,Balconies,Furnishing,SuperBuiltUpArea_sqft,BuiltUpArea_sqft,...,BuildingType,YearBuilt,AgeYears,Facing,AmenitiesCount,IsRERARegistered,RERAID,Latitude,Longitude,Price_INR
0,HP01139,Bengaluru,NaN,Villa,3,3.0,2.0,Semi-Furnished,1576,1299,...,Bungalow,2018.0,7,South-East,3,True,BEN-RERA-9928-63,12.877154,77.656243,17770000
1,HP01630,Kolkata,Rajarhat,Apartment,1,2.0,1.0,Unfurnished,1098,870,...,Mid Rise,2010.0,15,North-West,9,True,KOL-RERA-6820-36,22.584035,88.440364,7130000
2,HP01608,Kolkata,Salt Lake,Apartment,1,2.0,3.0,Unfurnished,863,710,...,High Rise,2006.0,19,South,6,True,KOL-RERA-5304-84,22.535687,88.416707,5920000
3,HP01979,MMR,Goregaon East,Apartment,2,3.0,NaN,Furnished,1135,952,...,High Rise,2025.0,0,North-East,7,False,NaN,NaN,72.877790,19140000
4,HP01399,Hyderabad,Madhapur,Apartment,3,4.0,1.0,Semi-Furnished,2662,2176,...,Standalone Building,2010.0,15,North,6,True,HYD-RERA-7537-95,17.444963,78.431430,20300000

In [5]:
df2 = pd.read_csv("/root/.cache/kagglehub/datasets/pratyushpuri/pan-india-property-listings-2025-real-estate-data/versions/1/train_part2.csv")
df2.head()

,ListingID,City,Locality,PropertyType,BHK,Bathrooms,Balconies,Furnishing,SuperBuiltUpArea_sqft,BuiltUpArea_sqft,...,BuildingType,YearBuilt,AgeYears,Facing,AmenitiesCount,IsRERARegistered,RERAID,Latitude,Longitude,Price_INR
0,HP01287,Bengaluru,Banashankari,Apartment,3,3.0,2.0,Semi-Furnished,1816,1386,...,Standalone Building,2018.0,7,South,9,True,BEN-RERA-3063-23,12.822958,77.759009,15060000
1,HP01726,Delhi NCR,Faridabad-Sector 21,Apartment,2,2.0,2.0,Semi-Furnished,1579,1205,...,Standalone Building,2009.0,16,South-West,8,True,DEL-RERA-8739-21,28.563276,76.992152,12570000
2,HP01011,Pune,Hinjawadi,Independent House,3,3.0,1.0,Unfurnished,2073,1711,...,Standalone Building,2014.0,11,North-East,4,True,PUN-RERA-4033-88,18.468168,NaN,17470000
3,HP00910,Chennai,Velachery,Villa,4,5.0,1.0,Unfurnished,3637,3031,...,Bungalow,2006.0,19,North-West,5,True,CHE-RERA-9763-53,12.922412,80.312701,36280000
4,HP01536,Chennai,T Nagar,Penthouse,6,7.0,2.0,Unfurnished,3973,2982,...,High Rise,2008.0,17,North,7,True,CHE-RERA-8666-20,13.061543,80.329035,36640000

In [6]:
df1.count()

ListingID                2364
City                     2342
Locality                 2323
PropertyType             2364
BHK                      2364
Bathrooms                2335
Balconies                2322
Furnishing               2323
SuperBuiltUpArea_sqft    2364
BuiltUpArea_sqft         2364
CarpetArea_sqft          2364
Floor                    2364
TotalFloors              2364
Parking                  2160
BuildingType             2364
YearBuilt                2351
AgeYears                 2364
Facing                   2309
AmenitiesCount           2364
IsRERARegistered         2364
RERAID                   1892
Latitude                 2334
Longitude                2331
Price_INR                2364
dtype: int64

In [7]:
df2.count()

ListingID                2364
City                     2336
Locality                 2335
PropertyType             2364
BHK                      2364
Bathrooms                2339
Balconies                2306
Furnishing               2322
SuperBuiltUpArea_sqft    2364
BuiltUpArea_sqft         2364
CarpetArea_sqft          2364
Floor                    2364
TotalFloors              2364
Parking                  2128
BuildingType             2364
YearBuilt                2338
AgeYears                 2364
Facing                   2311
AmenitiesCount           2364
IsRERARegistered         2364
RERAID                   1886
Latitude                 2344
Longitude                2338
Price_INR                2364
dtype: int64

In [8]:
df = pd.concat([df1, df2], ignore_index=True)

In [9]:
df.head()

,ListingID,City,Locality,PropertyType,BHK,Bathrooms,Balconies,Furnishing,SuperBuiltUpArea_sqft,BuiltUpArea_sqft,...,BuildingType,YearBuilt,AgeYears,Facing,AmenitiesCount,IsRERARegistered,RERAID,Latitude,Longitude,Price_INR
0,HP01139,Bengaluru,NaN,Villa,3,3.0,2.0,Semi-Furnished,1576,1299,...,Bungalow,2018.0,7,South-East,3,True,BEN-RERA-9928-63,12.877154,77.656243,17770000
1,HP01630,Kolkata,Rajarhat,Apartment,1,2.0,1.0,Unfurnished,1098,870,...,Mid Rise,2010.0,15,North-West,9,True,KOL-RERA-6820-36,22.584035,88.440364,7130000
2,HP01608,Kolkata,Salt Lake,Apartment,1,2.0,3.0,Unfurnished,863,710,...,High Rise,2006.0,19,South,6,True,KOL-RERA-5304-84,22.535687,88.416707,5920000
3,HP01979,MMR,Goregaon East,Apartment,2,3.0,NaN,Furnished,1135,952,...,High Rise,2025.0,0,North-East,7,False,NaN,NaN,72.877790,19140000
4,HP01399,Hyderabad,Madhapur,Apartment,3,4.0,1.0,Semi-Furnished,2662,2176,...,Standalone Building,2010.0,15,North,6,True,HYD-RERA-7537-95,17.444963,78.431430,20300000

In [10]:
df.shape

(4728, 24)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4728 entries, 0 to 4727
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ListingID              4728 non-null   object
 1   City                   4678 non-null   object
 2   Locality               4658 non-null   object
 3   PropertyType           4728 non-null   object
 4   BHK                    4728 non-null   int64
 5   Bathrooms              4674 non-null   float64
 6   Balconies              4628 non-null   float64
 7   Furnishing             4645 non-null   object
 8   SuperBuiltUpArea_sqft  4728 non-null   int64
 9   BuiltUpArea_sqft       4728 non-null   int64
 10  CarpetArea_sqft        4728 non-null   int64
 11  Floor                  4728 non-null   int64
 12  TotalFloors            4728 non-null   int64
 13  Parking                4288 non-null   object
 14  BuildingType           4728 non-null   object
 15  YearBuilt              4689 non-null   float64
 16  AgeYears               4728 non-null   int64
 17  Facing                 4620 non-null   object
 18  AmenitiesCount         4728 non-null   int64
 19  IsRERARegistered       4728 non-null   bool
 20  RERAID                 3778 non-null   object
 21  Latitude               4678 non-null   float64
 22  Longitude              4669 non-null   float64
 23  Price_INR              4728 non-null   int64
dtypes: bool(1), float64(5), int64(9), object(9)
memory usage: 854.3+ KB

In [12]:
df.isnull().sum().sort_values(ascending=False)

RERAID                   950
Parking                  440
Facing                   108
Balconies                100
Furnishing                83
Locality                  70
Longitude                 59
Bathrooms                 54
Latitude                  50
City                      50
YearBuilt                 39
ListingID                  0
BHK                        0
PropertyType               0
SuperBuiltUpArea_sqft      0
BuiltUpArea_sqft           0
BuildingType               0
TotalFloors                0
CarpetArea_sqft            0
Floor                      0
IsRERARegistered           0
AmenitiesCount             0
AgeYears                   0
Price_INR                  0
dtype: int64

In [13]:
df[df.duplicated()]

Empty DataFrame
Columns: [ListingID, City, Locality, PropertyType, BHK, Bathrooms, Balconies, Furnishing, SuperBuiltUpArea_sqft, BuiltUpArea_sqft, CarpetArea_sqft, Floor, TotalFloors, Parking, BuildingType, YearBuilt, AgeYears, Facing, AmenitiesCount, IsRERARegistered, RERAID, Latitude, Longitude, Price_INR]
Index: []

[0 rows x 24 columns]

In [14]:
false_count = (~df['IsRERARegistered']).sum()
false_count

np.int64(950)

In [15]:
df['RERAID'] = df['RERAID'].fillna('NA')

In [16]:
df['RERAID'].isnull().sum()

np.int64(0)

In [17]:
null_counts_per_row = df.isnull().sum(axis=1)
threshold = 3
records_with_many_nulls = df[null_counts_per_row >= threshold]
records_with_many_nulls

,ListingID,City,Locality,PropertyType,BHK,Bathrooms,Balconies,Furnishing,SuperBuiltUpArea_sqft,BuiltUpArea_sqft,...,BuildingType,YearBuilt,AgeYears,Facing,AmenitiesCount,IsRERARegistered,RERAID,Latitude,Longitude,Price_INR
908,HP01057,Ahmedabad,Prahlad Nagar,Penthouse,4,5.0,2.0,Semi-Furnished,3278,2733,...,High Rise,2013.0,12,NaN,7,True,AHM-RERA-7715-49,23.000628,NaN,22990000
1313,HP02264,NaN,Mulund,Apartment,2,NaN,1.0,Semi-Furnished,1235,967,...,High Rise,2025.0,0,South-East,8,False,NA,18.917499,NaN,21840000
1448,HP01255,NaN,Banjara Hills,Penthouse,2,NaN,3.0,Semi-Furnished,1806,1371,...,High Rise,2012.0,13,South-West,4,True,HYD-RERA-7524-58,NaN,78.321404,16010000
3071,HP00449,Delhi NCR,NaN,Apartment,3,4.0,NaN,NaN,2631,2038,...,High Rise,2020.0,5,West,10,True,DEL-RERA-4332-91,28.778477,NaN,23860000
3081,HP01125,NaN,Satellite,Villa,4,4.0,1.0,Furnished,3853,2997,...,Low Rise,2012.0,13,East,5,False,NA,NaN,72.655624,20520000

In [18]:
df.drop(records_with_many_nulls.index, inplace=True)

In [19]:
df.shape

(4723, 24)

In [20]:
df_grouped= df.groupby(['PropertyType', 'BHK'])

In [21]:
df['Bathrooms']=df_grouped['Bathrooms'].transform(lambda x: x.fillna(x.median()))

In [22]:
df['Bathrooms'].isnull().sum()

np.int64(0)

In [23]:
from datetime import date

In [24]:
current_year = date.today().year

df.loc[df['YearBuilt'].isnull(), 'YearBuilt'] = current_year - df['AgeYears']

In [25]:
df['YearBuilt'].isnull().sum()

np.int64(0)

In [26]:
df[df['ListingID'] == 'HP00451']

,ListingID,City,Locality,PropertyType,BHK,Bathrooms,Balconies,Furnishing,SuperBuiltUpArea_sqft,BuiltUpArea_sqft,...,BuildingType,YearBuilt,AgeYears,Facing,AmenitiesCount,IsRERARegistered,RERAID,Latitude,Longitude,Price_INR
211,HP00451,Ahmedabad,Prahlad Nagar,Apartment,3,4.0,1.0,Furnished,2332,1881,...,Mid Rise,2012.0,13,North-West,6,True,AHM-RERA-6556-87,23.113363,72.614560,12060000
2631,HP00451,MMR,Andheri West,Apartment,2,3.0,1.0,Semi-Furnished,1626,1378,...,Mid Rise,2011.0,14,East,4,False,NA,19.257507,72.842933,23940000

In [27]:
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
df['Facing'] = df['Facing'].ffill()

In [29]:
df['Facing'].isnull().sum()

np.int64(0)

In [30]:
df['Furnishing'] = df['Furnishing'].bfill()

In [31]:
df['Furnishing'].isnull().sum()

np.int64(0)

In [32]:
df.isnull().sum()

ListingID                  0
City                      47
Locality                  69
PropertyType               0
BHK                        0
Bathrooms                  0
Balconies                 99
Furnishing                 0
SuperBuiltUpArea_sqft      0
BuiltUpArea_sqft           0
CarpetArea_sqft            0
Floor                      0
TotalFloors                0
Parking                  438
BuildingType               0
YearBuilt                  0
AgeYears                   0
Facing                     0
AmenitiesCount             0
IsRERARegistered           0
RERAID                     0
Latitude                  48
Longitude                 56
Price_INR                  0
dtype: int64

In [34]:
df['Parking'] = df['Parking'].fillna(df['Parking'].mode()[0])

In [35]:
df['Balconies'] = df['Balconies'].fillna(df['Balconies'].mean())